{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
<h1>Reset password</h1>
<form method="POST">
    {% csrf_token %}

    <div>{{ form.new_password1 }}<label> New Password*</label></div>
    <p style="color:red">{{ form.password.errors }}</p>

    <div>{{ form.new_password2 }}<label> Confirm New Password*</label></div>
    <p style="color:red">{{ form.password.errors }}</p>

    <div>{{ form.captcha }}</div>
    <p style="color:red">{{ form.captcha.errors }}</p>

    <button type="submit">Save</button>
</form>
{% endblock content %}