<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %} Title {% endblock title %}</title>
</head>
<body>
{% include "inc/_nav.html" %}
{% include "inc/_sidebar.html" %}

<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div role="alert">
                {{ message }}
                </div>
            {% else %}
                <div role="alert">
            {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block content%}
    {% endblock content %}
</div>
</body>
</html>
