{% extends 'base.html' %}
{% block content %}
<div>
    <div>title: {{ note.title }}</div>
    <div>link: {{ note.link }}</div>
    <div>description: {{ note.description }}</div>
    <div>public: {{ note.is_public }}</div>
    <div><h3>TAGS</h3>
        {% for tg in note.tags_set.all %}
        <div>{{ tg }}</div>
        {% endfor %}
    </div>
    {% if request.user == note.user %}
    <div>
        <a href="{% url 'update_note' note.pk %}">Update</a>
        <a href="{% url 'delete_note' note.pk %}">Delete</a>
    </div>
    {% endif %}
</div>
{% endblock content %}