{% extends 'base.html' %}

{% block content %}

{% for note in notes %}
<div>
    <div>Posted by: {{ note.user }}</div>
    <div>title: {{ note.title }}</div>
    <div>link: {{ note.link }}</div>
    <div>description: {{ note.description }}</div>

    <div>public: {{ note.is_public }}</div>
    <div>tags:
        {% for n in note.tags_set.all %}
        <div>{{ n }}</div>
        {% endfor %}
    </div>
    <div>
        {% if note.is_public %}
        <a href="{% url 'public_detail_view' note.pk %}">View</a>
        {% else %}
        <a href="{% url 'personal_detail_view' note.pk %}">View</a>
        {% endif %}
    </div>
</div></br>
{% endfor %}
{% endblock content %}